<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content">
  <script>
    function validateForm(form) {
        if(form.title.value=='') {
          alert("제목을 입력해 주세요.")
          form.title.focus()
          return false
      }
      if(form.content.value=='') {
          alert("내용을 입력해 주세요.")
          form.content.focus()
          return false
      }
    }
  </script>
  <h2 class="mt-4 mb-3">Edit page</h2>
  <div class="card">
    <div class="card-body">
      <form action="/board/modify" method="post" onsubmit="return validateForm(this)">
        <input type="hidden" name="bno" th:value="${boardDTO.bno}">
        <input type="hidden" name="author" th:value="${boardDTO.author}">
        <table class="table align-middle">
          <tbody>
          <tr>
            <td style="width: 20%;">작성자</td>
            <td style="width: 80%;"><span style="padding:0.375rem 0.75rem;">[[${boardDTO.author}]]</span></td>
          </tr>
          <tr>
            <td><label class="form-label mb-0" for="title">제목 <span class="text-danger">(필수)</span></label></td>
            <td><input class="form-control" id="title" name="title" placeholder="제목을 입력해 주세요." type="text" th:value="${boardDTO.title}"></td>
          </tr>
          <tr>
            <td><label class="form-label mb-0" for="content">내용 <span class="text-danger">(필수)</span></label></td>
            <td><textarea class="form-control" id="content" name="content" rows="10" placeholder="내용을 입력해 주세요.">[[${boardDTO.content}]]</textarea></td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-start gap-2">
          <a th:href="|@{/board/list}?${pageRequestDTO.link}|">
            <button class="btn btn-secondary" type="button">목록</button>
          </a>
          <a href="javascript:history.back();" class="ms-auto">
            <button class="btn btn-danger" type="button">취소</button>
          </a>
          <button class="btn btn-primary" type="submit">저장</button>
        </div>
      </form>
    </div>
  </div>
</div>