<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content">
  <h2 class="mt-4 mb-3">View page</h2>
  <div class="card">
    <div class="card-body">
      <table class="table align-middle">
        <tbody>
        <tr>
          <td style="width: 20%;">글번호</td>
          <td style="width: 30%;">[[${boardDTO.bno}]]</td>
          <td style="width: 20%;">작성일</td>
          <td style="width: 30%;" th:text="${#temporals.format(boardDTO.regDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        <tr>
          <td style="width: 20%;">작성자</td>
          <td style="width: 30%;">[[${boardDTO.author}]]</td>
          <td style="width: 20%;">조회수</td>
          <td style="width: 30%;">[[${boardDTO.readcount}]]</td>
        </tr>
        <tr>
          <td>제목</td>
          <td colspan="3">[[${boardDTO.title}]]</td>
        </tr>
        <tr>
          <td>내용</td>
          <td colspan="3"><div style="white-space: pre-wrap">[[${boardDTO.content}]]</div></td>
        </tr>
        </tbody>
      </table>
      <div th:with="link=${pageRequestDTO.link}" class="d-flex justify-content-start gap-2">
        <a th:href="|@{/board/list}?${link}|">
          <button class="btn btn-secondary" type="button">목록</button>
        </a>
        <button class="btn btn-danger ms-auto" type="button" onclick="showModal()">삭제</button>
        <th:block th:with="link=${pageRequestDTO.link}">
          <a th:href="|@{/board/modify(bno=${boardDTO.bno}, mode=2)}&${link}|" class="btn btn-primary">수정</a>
        </th:block>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">알림창</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>정말로 삭제하시겠습니까?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
          <button type="button" class="btn btn-danger btnRemove">삭제하기</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script layout:fragment="pagescript" th:inline="javascript">
  const modal = new bootstrap.Modal(document.querySelector(".modal"))
  let bno= [[${boardDTO.bno}]]
  function showModal(){
      modal.show();
      document.querySelector(".btnRemove").addEventListener("click", function(e){
          e.preventDefault()
          location.href=`/board/remove?bno=${bno}`
      })
  }
</script>